.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 20%;
}

.column-title {
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-card-container {
  margin-top: 20px;
}

.add-card {
  text-decoration: underline;
  cursor: pointer;
}